node_modules/
dist/
build/
.env
.env.*
!.env.example

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# aws
.aws-sam/
credentials

# editors / os
.DS_Store
.idea/
.vscode/
*.swp

# logs
*.log
npm-debug.log*
